.Button {
  align-self: center;
  border-radius: 50px;
  border: none;
}

.Primary {
  background-color: var(--majorblue);
  color: var(--snowwhite);
}

.Primary:disabled {
  background-color: var(--off-raisinblack);
  color: var(--snowwhite);
}

.Primary:disabled:hover {
  background-color: var(--off-raisinblack);
  color: var(--snowwhite);
}

.Primary:hover {
  background-color: var(--raisinblack);
  color: var(--lavenderblush);
}

.Secondary {
  background-color: var(--raisinblack);
  color: var(--lavenderblush);
}

.Danger {
  background-color: var(--imperialred);
  color: var(--snowwhite);
}

.Danger:hover {
  background-color: var(--imperialredstrong);
  color: var(--snowwhite);
}

.Light {
  background-color: var(--snowwhite);
  color: var(--majorblue);
  border: 1px solid var(--majorblue);
}

.Light:hover {
  background-color: var(--off-thistle);
  color: var(--raisinblack);
}

.Selected {
  background-color: var(--thistle);
  color: var(--raisinblack);
  border: 1px solid transparent;
}

.Selected:hover {
  background-color: var(--thistle);
  color: var(--raisinblack);
  opacity: 0.9;
}

.Small {
  padding: 0.25em 0.5em;
  font-size: 0.75rem;
}

.Medium {
  padding: 0.5em 1em;
  font-size: 1rem;
}

.Large {
  padding: 0.75em 1.5em;
  font-size: 1.25rem;
}
