:root {
    /* Fonts */
    --title: "Raleway", sans-serif;
    --body: "Nunito", sans-serif;
  
    /* Colors */
    --majorblue: #5d4fe3;
    --lavenderblush: #f5e6e8;
    --thistle: #d5c6e0;
    --raisinblack: #3a2e39;
    --imperialred: #f15152;
    --snowwhite: #fffafa;
    --jetblack: #333;
  
    --off-raisinblack: rgba(58, 46, 57, 0.1);
    --off-thistle: rgba(213, 198, 224, 0.1);
  }

.Button {
  align-self: center;
  border-radius: 50px;
  border: none;
  padding: 0.5em 1em;
}

.Primary {
  background-color: var(--majorblue);
  color: var(--snowwhite);
}

.Primary:disabled {
    background-color: var(--off-raisinblack);
    color: var(--snowwhite);
}

.Primary:disabled:hover {
    background-color: var(--off-raisinblack);
    color: var(--snowwhite);
}

.Primary:hover {
    background-color: var(--raisinblack);
    color: var(--lavenderblush);
}

.Secondary {
  background-color: var(--raisinblack);
  color: var(--lavenderblush);
}
