.Image__Container {
  display: flex;
  max-height: 500px;
  max-width: 600px;
  place-content: center;
}

.Image {
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.Map__Container {
  display: flex;
  justify-content: center;
}

.Map {
  border-radius: 10px;
  height: 250px;
  width: 90%;
}