.ProfileAvatarLocation__Container {
  display: flex;
  flex-direction: column;
}

.ProfileAvatar__Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--box-shadow-big-lavender);
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

.EditFollow__Container {
  padding: 1em;
}

.ProfileStats {
  padding: 1em;
  text-align: center;
}

.ProfileStats > * {
  padding-block: 0.5em;
}

.ProfileNameImage__Container {
  text-align: center;
  align-items: center;
}

.ProfileImage {
  object-fit: cover;
  max-height: 120px;
  max-width: 100%;
  height: auto;
  width: auto;
}

.ProfileName {
  font-size: 1em;
}

.Map__Container {
  margin-block: 2em;
  padding-inline: 1.5em;
}

.Map {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.Bio__Container {
  height: 10em;
  overflow-y: scroll;
}

.EventsPostsButtons {
  display: flex;
  justify-content: center;
}

.EventsPostsButtons > * {
  margin-inline: 0.5em;
}
