.Profile__Container {
  text-align: center;
  width: 90px;
  padding-inline: 0.6em;
}

.Truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Popover__Container {
  cursor: default;
  padding: 1em;
}

.User {
  padding-inline-start: 0.3em;
}

.Button__Container {
  text-align: center;
  margin-top: 1em;
}
