.RecommendedProfiles__Container {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding-block: 0.5em;
}

.RecommendedProfiles__Container:hover {
  cursor: pointer;
}

.Chevron {
    width: 2em;
    height: 2em;
    margin-inline: 0.5em;
    vertical-align: text-bottom;
  }
  
  .Chevron:hover {
    color: var(--majorblue);
    cursor: pointer;
  }
