.RecommendedProfiles__Container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: 0;
  padding-block: 0.5em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.RecommendedProfiles__Container::-webkit-scrollbar {
  display: none;
}

.RecommendedProfiles__Container:hover {
  cursor: pointer;
}

.RecommendedProfiles {
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
}

.Chevron {
  width: 2em;
  height: 2em;
  margin-inline: 0.5em;
  vertical-align: text-bottom;
}

.Chevron:hover {
  color: var(--majorblue);
  cursor: pointer;
}
