:root {
  /* Fonts */
  --title: "Raleway", sans-serif;
  --body: "Nunito", sans-serif;

  /* Colors */
  --majorblue: #5d4fe3;
  --lavenderblush: #f5e6e8;
  --thistle: #d5c6e0;
  --raisinblack: #3a2e39;
  --imperialred: #f15152;
  --snowwhite: #fffafa;
  --jetblack: #333;

  --off-raisinblack: rgba(58, 46, 57, 0.1);
  --off-thistle: rgba(213, 198, 224, 0.1);
}

.Row {
  height: calc(100vh - 5rem);
  margin-inline: 0;
}

.Background {
  background: url('https://res.cloudinary.com/drffvkjy6/image/upload/v1707302130/city_map_g6evtw.webp') no-repeat center center fixed;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}

.FormContainer {
  border-radius: 10px;
  text-align: center;
  padding: 2em;
  background-color: var(--snowwhite);
}
