:root {
  /* Fonts */
  --title: "Raleway", sans-serif;
  --body: "Nunito", sans-serif;

  /* Colors */
  --majorblue: #5d4fe3;
  --lavenderblush: #f5e6e8;
  --thistle: #d5c6e0;
  --raisinblack: #3a2e39;
  --imperialred: #f15152;
  --purewhite: #ffffff;
  --snowwhite: #fffafa;
  --jetblack: #333;

  --off-majorblue: rgba(93, 79, 227, 0.5);
  --off-raisinblack: rgba(58, 46, 57, 0.1);
  --off-thistle: rgba(213, 198, 224, 0.1);

  /* Box shadows */
  --box-shadow-small-lavender: 0px 0px 6px -1px var(--lavenderblush);
  --box-shadow-big-lavender: 0px 0px 7px 5px var(--lavenderblush);
}

* {
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--jetblack);
}

a:hover {
  color: var(--majorblue);
  text-decoration: none;
}

.App {
  min-height: 100vh;
  background-color: var(--purewhite);
}

.Main {
  max-width: 90vw;
  padding-top: 5rem;
  padding-inline: 0.5em;
  margin-bottom: 5em;
}

.Icon {
  width: 1.5em;
  height: 1.5em;
  margin-inline-end: 0.2em;
  vertical-align: text-bottom;
}

.Icon:hover {
  color: var(--majorblue);
  cursor: pointer;
}

.Link {
  color: var(--majorblue);
}

.Link:hover {
  color: var(--off-majorblue);
  cursor: pointer;
}

.InfiniteScroll {
  overflow: visible !important;
}

/* Media queries */
@media screen and (min-width: 576px) {
  .Main {
    max-width: 85vw;
  }
}

@media screen and (min-width: 1200px) {
  .Main {
    max-width: 80vw;
  }
}
